{% extends 'base.html' %}

{% block content %}
<h1>{{ lot.name }} de {{ lot.building.name }}</h1>
<ul>
  <li>Etage : {{ lot.floor.floor }}</li>
  <li>Prix : {{ lot.price }} euros</li>
  <li>Pièces : {{ lot.rooms }}</li>
  <li>Surface : {{ lot.surface}} m2</li>
</ul>


<table class="table table-striped">
<tr>
  <th>Date</th>
  <th>Température</th>
  <th>Eau chaude</th>
  <th>Eau froide</th>
  <th>Conso Elec.</th>
  <th>Dju</th>
  <th>Dju du lot</th>
</tr>
{% for day in days %}
<tr>
  <td>{{ day.day|default('') }}</td>
  <td>{{ day.temper|default('')}}</td>
  <td>{{ day.vecs|default('') }}</td>
  <td>{{ day.vef|default('') }}</td>
  <td>{{ day.elec|default('') }}</td>
  {% with djus[day.day] as dju %}
  {% if dju %}
  <td>{{ dju.dju }}</td>
  <td>{{ lot.calc_my_dju(dju.dju) }}</td>
  {% else %}
  <td colspan="2">-</td>
  {% endif %}
  {% endwith %}
</tr>
{% endfor %}
</table>

{% endblock %}
